body {background-color: #212121; color:#FAFAFA }
h1 {font-family: link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet";
    font-size: 120px;
    font-weight: 900;
}
#nombre {
color: brown;    
} 
#uno {color: chartreuse;}
#dos {color: cornflowerblue;}
#tres {color: cyan;}